<nav class="igdatc-navbar">
  <div class="container navbar-container">
    <a href="/"><img src="/assets/img/LogoNavbar.svg" alt="IGDATC"></a>
    <div class="navbar-content">
      <div class="navbar-icons">
        <div class="navbar-icon-group">
          <span class="d-none d-lg-inline">Watch</span>
          <a href="https://youtube.com/igdatc" target="_blank" rel="noopener noreferrer"><img src="/assets/img/IconYouTube.svg" alt="YouTube"></a>
        </div>
        <div class="navbar-icon-group">
          <span class="d-none d-lg-inline">Connect</span>
          <a href="/slack" target="_blank" rel="noopener noreferrer"><img src="/assets/img/IconSlack.svg" alt="Slack"></a>
          <a href="https://discord.gg/Q4uqaZe" target="_blank" rel="noopener noreferrer"><img src="/assets/img/IconDiscord.svg" alt="Discord"></a>
        </div>
        <div class="navbar-icon-group">
          <span class="d-none d-lg-inline">Contact</span>
          <a href="https://twitter.com/igdatc" target="_blank" rel="noopener noreferrer"><img src="/assets/img/IconTwitter.svg" alt="Twitter"></a>
          <a href="mailto:igdatwincities@gmail.com"><img src="/assets/img/IconEmail.svg" alt="Email"></a>
        </div>
        <div class="navbar-icon-group overflow">
          <a data-bs-toggle="collapse" data-bs-target="#navbar-overflow" aria-controls="navbar-overflow" aria-expanded="false" aria-label="Toggle overflow menu">
            <img src="/assets/img/IconOverflow.svg" alt="Overflow menu">
          </a>
        </div>
      </div>
      <div class="collapse" id="navbar-overflow">
        <a class="nav-item nav-link" href="/history">History</a>
        <a class="nav-item nav-link" href="/policies">Policies</a>
        <a class="nav-item nav-link" href="/governance">Governance</a>
      </div>
    </div>
  </div>
</nav>