// Museo
@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo 500.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo 900.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo 500 Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('fonts/Museo 900 Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

// Museo Sans
@font-face {
	font-family: 'Museo Sans';
	src: url('fonts/Museo Sans 500.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Museo Sans';
	src: url('fonts/Museo Sans 900.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Museo Sans';
	src: url('fonts/Museo Sans 500.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Museo Sans';
	src: url('fonts/Museo Sans 1000 Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

// Museo Sans Sounded
@font-face {
	font-family: 'Museo Rounded';
	src: url('fonts/Museo Sans Rounded 500.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Museo Rounded';
	src: url('fonts/Museo Sans Rounded 1000.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Museo Rounded';
	src: url('fonts/Museo Sans Rounded 1000 Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Museo Rounded';
	src: url('fonts/Museo Sans Rounded 1000 Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap');