---
---
$primary: #eb0000;

@import 'bootstrap/bootstrap';

h1,h2,h3,h4,h5 {
  font-family: 'Arvo', serif;
}

p + h1,p + h2,p + h3,p + h4,p + h5 {
  margin-top: $spacer * 1.5;
}

figure {
  float: left;
  width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

li p {
  margin-bottom: 0;
}

nav a:hover {
  background-color: #FED631;
  color: #000;
}

nav a.active {
  border: 1px solid #FED631;
}
