---
---
@import 'bootstrap/bootstrap';
@import 'color';
@import 'fonts';

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $light-gray;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.75em;
  font-size: 1.1em;
  color: $black;
}

h1,h2,h3,h4,h5 {
  font-family: 'Museo Rounded', serif;
  font-weight: bold;
  line-height: 1.25em;
}

h1,h3,h4,h5 {
  color: $blue;
}
h2 {
  color: $peach;
}

figure {
  float: left;
  width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}


// nav a:hover {
//   background-color: #FED631;
//   color: #000;
// }

// nav a.active {
//   border: 1px solid #FED631;
// }


a:link,
a:visited {
  color: $red;
  font-weight: bold;
  text-decoration: none;
}
a:hover,
a.active{
  color: $yellow;
}

.note{
  font-size: 70%;
}

@mixin svg-links {
  a:link,
  a:visited {
    @include filter-yellow;
  }
  a:hover,
  a.active {
    @include filter-red;
  }

}

::selection {
  background: $pink;
}

strong, b {
  color: $dark-blue;
}

section {
  --bs-gutter-x: 4rem;
  --bs-gutter-y: 4rem;

  @include media-breakpoint-down(md){
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 2rem;
  }
  @include media-breakpoint-down(sm){
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
  }
}


figure {
  float: left;
  width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

li p {
  margin-bottom: 0;
}

.igdatc-navbar {
  min-height: 125px;
  background-color: $black;
  background-image: url(/assets/img/NavbarBG.png);
  background-position: bottom center;
  background-repeat: repeat-x;
  padding: 10px 15px !important;
  padding-bottom: 25+10px !important; // This just accounts for the 40px "bottom border" of the BG image.

  box-shadow: 0 0px 20px 15px rgba($black, 0.3),
        0 -10px 15px 15px rgba($black, 0.3);

  font-family: "Museo Rounded";
  color: $gray;
  font-size: 18px;
  font-weight: bold;

  position: sticky;
  top: 0;
  z-index:5;

  border-bottom: solid 3px $dark-gray;

  .navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-down(md){
      flex-direction: column;
      align-items: center;
    }

    .navbar-content {
      display: flex;
      flex-direction: column;
      flex-grow: 2;

      .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: right;
        flex-grow: 2;
        height: 70px;

        .navbar-icon-group {
          display: flex;
          align-items: center;

          span {
            margin-right: 5px;
            margin-left:15px;
          }

          img {
            margin: 0 5px
          }

          &.overflow{
            a {
              @include filter-dark-gray();
            }
          }

          a:hover {
            @include filter-red();
          }

        }
      }
    }

    #navbar-overflow {
      align-self: flex-end;
      text-align: right;

      @include media-breakpoint-down(md){
        align-self: center;
        text-align: center;
      }

      a.nav-link {
        border-radius: 8px;

        // :link
          background-color: none;
          color: $yellow;
        //
        &:hover {
          background-color: $red;
          color: $black;
        }
        &.active {
          border: 1px solid $yellow;
        }
      }
    }

  }

}

.igdatc-main {
  background-color: $white;
  position: relative;

  padding: 0 6rem;

  @include media-breakpoint-down(md){
    padding: 0 4rem;
  }
  @include media-breakpoint-down(sm){
    padding: 0 2rem;
  }

  .hero-banner {
    width: 400%;
    height: 225px;
    border-bottom: solid 3px $peach;
    box-shadow: 0 0px 10px 10px rgba($black, 0.3),
          0 -10px 5px 10px rgba($black, 0.3);
    margin-left: -150%;
    margin-right: -150%;
    background-image: url(/assets/img/HeroBanner.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(md){
      width: 200%;
      margin-left: -50%;
      margin-right: -50%;
      height: 150px;
      background-size: cover;
    }
    @include media-breakpoint-down(sm){
      height: 100px;
    }
  }

  img {
    filter: drop-shadow(0px 0px 5px rgba($dark-blue, 1));
  }

  iframe,
  .community-icon {
    border: solid $blue 2px !important;
    box-shadow: 0 0px 5px 5px rgba($black, 0.3);
    border-radius: 10px;
  }

  // Cute little section marker. There's a name for this but I forget.
  .row::after {
    content: '';
    height: 90px;
    margin:20px;
    width: 100%;
    background-image: url(/assets/img/SectionMarker.svg);
    background-repeat: no-repeat;
    background-position: center;
    order: 100;
  }
}

img {
  max-width: 100%;
}

#board-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .board-member {
    width: 150px;
    height: 250px;
    background-color: $black;

    border: solid $blue 2px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 5px 5px rgba($black, 0.3);

    p {
      color: $yellow;
      font-family: "Museo";
      //font-weight: bold;
      line-height: 1em;
      margin: 10px;
    }

    strong {
      color: $gray;
    }

    .note{
      color: $dark-yellow;
    }

    .board-member-links {
      @include svg-links;
      position: absolute;
      z-index: 1;
      padding: 5px;
      background-color: rgba($black, 0.5);
      border-radius: 0 0 10px 0;
    }
    .board-member-icon {
      height:20px;
    }
  }
}

#main-logo {
  padding:30px;
  margin-top: -150px;
  position: relative;
  z-index:2;
}


#google-calendar {
  // Basic beautification of the *supremely* ugly Google Calendar widget.
  padding:10px;
  background-color: #e3e9ff;
}

.community-icon {
  margin: 25px;
  margin-bottom: 40px;
  padding: 35px;
  background-color: $dark-red;
  border-radius: 40px;
  @include svg-links;
  img {
    width: 50%;
  }
}

.presentation-video {
  margin-bottom: 2em;
}

footer {
  position: relative;
  z-index: 4;
  padding: 50px;
  background-color: $black;
  border-top: solid $yellow 5px;
  box-shadow: 0 0px 20px 15px rgba($black, 0.3),
        0 10px 15px 15px rgba($black, 0.3);
  overflow-x: hidden;

  color: $gray;
  font-family: Museo, sans-serif;
  font-size: 90%;
  font-weight: bold;

  a:link,
  a:visited {
    color: $yellow;
  }
  a:hover,
  a.active{
    color: $red;
  }

  img {
    width:100px;
    @include filter-gray;
  }
}

