<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.title %}
      <title>{{page.title}} | IGDA Twin Cities</title>
    {% else %}
      <title>IGDA Twin Cities | The Twin Cities Chapter of the International Game Developers Association</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <nav class='nav'>
          <a href="/" class='nav-link'>Home</a>
          <a href="/events" class='nav-link'>Events</a>
          <a href="/faq" class='nav-link'>FAQ</a>
          <a href="/links" class='nav-link'>Links</a>
          <a href="/connect" class='nav-link'>Connect with Us</a>
        </nav>
      </div>
        <h1 class=''>{{ page.title }}</h1>
        <section>
          {{ content }}
        </section>
        <footer>
          Footer
        </footer>
    </div>

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

  </body>
</html>
