<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.title %}
      <title>{{page.title}} | IGDA Twin Cities</title>
    {% else %}
      <title>IGDA Twin Cities | The Twin Cities Chapter of the International Game Developers Association</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <nav class='nav'>
          <a href="/" class='nav-link'>Home</a>
          <!-- <a href="/events" class='nav-link'>Events</a> -->
          <a href="/faq" class='nav-link'>FAQ</a>
          <!-- <a href="/links" class='nav-link'>Links</a> -->
          <a href="/about" class='nav-link'>About</a>
          <a href="/monthly-meeting" class='nav-link'>Monthly Meeting</a>
          <a href="/mn-vr-and-hci" class='nav-link'>MN VR and HCI</a>
          <!-- a href="/multiplayer-extravaganza" class='nav-link'>Multiplayer Extravaganza</a -->
          <a href="/developer-directory" class='nav-link'>Developer Directory</a>
          <a href="/connect" class='nav-link'>Connect with Us</a>
          <a href="/blog" class='nav-link'>Blog</a>
        </nav>
      </div>
      <div class='row'>
        <section class='col'>
          <h1 class=''>{{ page.title }}</h1>
          {{ content }}
        </section>
      </div>
      <footer>
        <!-- Footer -->
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
